/*Home.module.sass*/
.main_img
	border-top-left-radius: 100px
	border-top-right-radius: 45px
	border-bottom-left-radius: 150px
	border-bottom-right-radius: 250px
.one_section
	@apply flex gap-2 items-center p-2
.carousel > button:not(:disabled)
	@apply text-black dark:text-white active:bg-gray-100